@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    padding-bottom: 90px;
    height: 760px;
}
.top-banner{
    background: url("../images/top-banner.png") no-repeat;
}
.dream-area{
    background: url("../images/dream-bg.png") no-repeat right;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: #696969;
}
.orange-hilight{
    color: #ffa500;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px;
    color: #ffffff;
    background: linear-gradient(45deg, #ffa500, #ff6347);
}
#full-stack, #baby-web{
    height: 80%;
    box-shadow: 0px 0px 20px 3px gray;
    border-radius: 5px;
}
.experience-area{
    background: url("../images/exp-bg.png") no-repeat left;
    height: 600px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ffa500, #ff6347);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0000ff, #00ffff);
    border-image-slice: 1;
}
footer{
    text-align: center;
}